---

---

<header class="opacity-80 sticky grid sm:grid-cols-3 p-4">
  <div class="logo flex items-center text-2xl">
    <svg
      width="20"
      viewBox="0 0 88 100"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M44 0L87.3013 25V75L44 100L0.69873 75V25L44 0Z" fill="black">
      </path>
    </svg>
    <h1 class="ml-3 text-xl font-bold">Public Square TO</h1>
  </div>
  <nav class="flex items-center gap-4 justify-center-safe">
    <!-- <a class="max-sm:hidden" href="/home">Home</a>
    <a class="max-sm:hidden" href="/about">About</a>
    <a class="max-sm:hidden" href="/contact">Contact</a> -->
  </nav>
</header>
