---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <h2>{frontmatter.title}</h2>
    <slot />
  </main>
</Layout>

<style>
  main {
    width: calc(100% - 40px);
    max-width: 1200px;
    flex-grow: 1;
    margin: 0 auto;
  }
</style>
